In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn import metrics
import os, sys

from phm08ds.models import experiment

## Load Dataset

In [2]:
folderpath = '../data/interim/'
data_op_0 = pd.read_csv(folderpath + 'data_op_00.csv')
data_op_0.head()

,unit,time_step,operational_setting_1,operational_setting_2,operational_setting_3,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,Operational_condition
2,1,3,34.9986,0.8401,60.0,449.44,555.42,1368.17,1122.49,5.48,...,2387.95,8063.84,9.3557,0.02,334,2223,100.0,14.83,8.8555,0
11,1,12,35.0029,0.8413,60.0,449.44,555.85,1360.54,1130.69,5.48,...,2387.95,8063.79,9.2878,0.02,335,2223,100.0,14.69,8.7988,0
23,1,24,34.9987,0.8400,60.0,449.44,555.19,1359.28,1131.95,5.48,...,2387.94,8063.93,9.3254,0.02,334,2223,100.0,14.96,8.8405,0
38,1,39,35.0010,0.8400,60.0,449.44,555.85,1370.11,1126.43,5.48,...,2387.95,8065.11,9.3512,0.02,333,2223,100.0,15.00,8.7529,0
40,1,41,35.0018,0.8400,60.0,449.44,555.30,1359.77,1129.48,5.48,...,2387.98,8065.92,9.2991,0.02,334,2223,100.0,14.79,9.0533,0

## Data preprocessing

### Get rid of informations there are not sensor readings

In [3]:
from phm08ds.data.preprocessing import SensorReadings

data_op_0_to_clf = tf_sensor_readings = SensorReadings().fit_transform(data_op_0)
data_op_0_to_clf.head()

,5,6,7,8,9,10,11,12,13,14,...,16,17,18,19,20,21,22,23,24,25
2,449.44,555.42,1368.17,1122.49,5.48,8.0,194.93,2222.86,8343.91,1.02,...,183.26,2387.95,8063.84,9.3557,0.02,334,2223,100.0,14.83,8.8555
11,449.44,555.85,1360.54,1130.69,5.48,8.0,195.05,2222.88,8341.87,1.02,...,183.41,2387.95,8063.79,9.2878,0.02,335,2223,100.0,14.69,8.7988
23,449.44,555.19,1359.28,1131.95,5.48,8.0,193.97,2222.88,8351.92,1.02,...,183.36,2387.94,8063.93,9.3254,0.02,334,2223,100.0,14.96,8.8405
38,449.44,555.85,1370.11,1126.43,5.48,8.0,193.79,2222.88,8346.36,1.02,...,183.45,2387.95,8065.11,9.3512,0.02,333,2223,100.0,15.00,8.7529
40,449.44,555.30,1359.77,1129.48,5.48,8.0,194.59,2222.89,8343.06,1.02,...,182.97,2387.98,8065.92,9.2991,0.02,334,2223,100.0,14.79,9.0533

In [4]:
tf_std_scaller = preprocessing.StandardScaler()
data_op_0_scalled = tf_std_scaller.fit_transform()

TypeError: fit_transform() missing 1 required positional argument: 'X'